<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
</head>
<body>
    <h2>Add Room</h2>
    <form th:action="@{/rooms/add}" method="post" th:object="${room}" enctype="multipart/form-data">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required/><br/>
        <label>Type:</label>
        <input type="text" th:field="*{type}"/><br/>
        <label>Description:</label>
        <textarea th:field="*{description}"></textarea><br/>
        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}" required/><br/>
        <label>Number of Beds:</label>
        <input type="number" th:field="*{numBeds}" required/><br/>
        <label>Image:</label>
<input type="file" name="imageFile" accept="/projectspring_projectspring/images"/><br/>



        
        <label>State:</label>
        <input type="text" th:field="*{state}" required/><br/>
        <label>Category:</label>
        <select th:field="*{category}" required>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select><br/>
        <button type="submit">Add Room</button>
    </form>
</body>
</html>
