<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Rooms</title>
</head>
<body>
    <h2>List Rooms</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Number of Beds</th>
                <th>Image</th>
                <th>State</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.id}"></td>
                <td th:text="${room.name}"></td>
                <td th:text="${room.type}"></td>
                <td th:text="${room.description}"></td>
                <td th:text="${room.price}"></td>
                <td th:text="${room.numBeds}"></td>
                <!-- Display the image using the filename -->
  <td><img th:src="@{'/projectspring_projectspring/images' + ${room.imagePath}}" alt="Room Image" style="width: 100px; height: auto;">
  
    </td>
               
                <td th:text="${room.state}"></td>
                <td th:text="${room.category.name}"></td>
                <td>
                    <a th:href="@{/rooms/update/{id}(id=${room.id})}">Update</a>
                    <form th:action="@{/rooms/delete/{id}(id=${room.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this room?')">
                        <input type="hidden" name="_method" value="DELETE"/> 
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/rooms/add">Add Room</a>
</body>
</html>
